<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.LogsDao">

    <select id="findBySearch" resultType="com.example.entity.Logs">
        select `logs`.* from `logs`

        where 1 = 1

    </select>

</mapper>